/* debug */

/* .debug header{
    border: 2px dotted greenyellow;
    
}
.debug .dashboard{
    border: 2px dotted rgb(47, 255, 179);
    
}
.debug aside{
    border: 2px dotted rgb(255, 47, 241);
    
} */
/* .debug .aside-top{
    background-color: lightcoral;
    
    
}
.debug .aside-bottom{
    background-color: lightcoral;
    
   
} */
/* .debug .dashboard-header{
    border: 2px dotted rgb(255, 47, 241);
    
    
}
.debug .col-8{
    border: 2px dotted rgb(47, 255, 179);
    
    
}
.debug .col-4{
    border: 2px dotted rgb(78, 47, 255);
    
} */


/* general */
a:not(.original-link){
    text-decoration: none;
    color: inherit;
}
:root{
    --header-height: 60px;
    /* var(--header-height) */
}

/* header */

header{
    height: var(--header-height);

}
.logo .logo-small{
    
    width: 45px;
}



/* main */
main{
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
}

.dashboard{
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
}

/* aside */
aside{
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/sidebar-bg.png');
    background-position: center;
    background-size: cover;
    background-color: #051E34;
}
aside ul{
    list-style-type: none;
}

aside .aside-top i{
    display: inline-block;
    width: 25px;
}
.aside-function:hover{
    background-color: rgba(255, 255, 255, 0.155);
}

/* dashboard */

.dashboard-header .badge{
    background-color: rgba(0, 0, 0, 0.231);
}

.plus{
    height: 25px;
    width: 25px;
    vertical-align: middle;
    line-height: 20px;
}


/* bootstrap status reset */
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button:not(.collapsed){
    background-color: initial;
}
.accordion-item:first-of-type{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group .form-check-input{
    box-shadow: none;
}
/* graph img */
.list-group-item .img{
    width: 100%;
}
.list-group-item .img img{
    width: 100%;
}

/* table button dashboard */
.button-table{
    width: 27px;
    height: 27px;
    line-height: 26px;
    vertical-align: middle;
}
button.btn.btn-outline-secondary{
    padding: 4px 8px;
}


/* table cell problem */
@media screen and (min-width: 992px){
    
    .table-row-big{
        min-width: 50%;
    }
}


/* offcanvas */
.offcanvas.offcanvas-end{
    width: 100vw;
}
@media screen and (min-width: 992px){
    .offcanvas.offcanvas-end{
        width: 45vw;
    }
    
}