/* debug */

.debug header{
    border: 2px dotted greenyellow;
    
}
.debug .dashboard{
    border: 2px dotted rgb(47, 255, 179);
    
}
.debug aside{
    border: 2px dotted rgb(255, 47, 241);
    
}
.debug .aside-top{
    background-color: lightcoral;
    
    
}
.debug .aside-bottom{
    background-color: lightcoral;
    
   
}
.debug .dashboard-header{
    border: 2px dotted rgb(255, 47, 241);
    
    
}
.debug .col-8{
    border: 2px dotted rgb(47, 255, 179);
    height: 100vh;
    
}
.debug .col-4{
    border: 2px dotted rgb(78, 47, 255);
    height: 100vh;
}
/* general */
a{
    text-decoration: none;
    color: inherit;
}
/* header */
header{
    height: 60px;

}
header .row{
    height: 100%;
}

header li{
    display: inline-block;
}
/* header .logo,
header div{
    vertical-align: middle;
    line-height: 50px;
} */


/* main */
main{
    height: calc(100vh - 60px);
    margin-top: 60px;
}

.dashboard{
    height: calc(100vh - 60px);
    overflow-y: auto;
}

/* aside */
aside{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside ul{
    list-style-type: none;
}

aside .aside-top i{
    display: inline-block;
    width: 25px;
}

/* dashboard */

.dashboard-header .badge{
    background-color: rgba(0, 0, 0, 0.231);
}

.plus{
    height: 30px;
    width: 30px;
    /* line-height: 30px; */
    vertical-align: middle;
}
/* .plus span{
    vertical-align: middle;
    line-height: 30px;
} */

.accordion-button:focus{
    box-shadow: none;
}
.accordion-button:not(.collapsed){
    background-color: initial
}